<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head th:replace="fragments :: head" />

<body>
  <!-- container section start -->
  <section id="container" class="">
    <!--header start-->
	<header th:replace="fragments :: headercontent" class="header dark-bg"></header>

	<!--header end-->

    <!--sidebar start-->
    <aside>
      <div th:replace="fragments :: menu"></div>
    </aside>
    <!--sidebar end-->

    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa fa-bars"></i> List of Employee Types</h3>
            <ol class="breadcrumb">
              <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
              <li><i class="fa fa-bars"></i>Pages</li>
              <li><i class="fa fa-square-o"></i>Pages</li>
            </ol>
          </div>
        </div>
        <!--  page start  -->
        <div class="row">
          <div class="col-lg-12">
          
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal" >Add Employee Type</button>
        
       <table class="table">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Employee Type Description</th>
                    <th>Details</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="v:${employeetype}">
                    <td th:text="${v.id}"></td>
                    <td th:text="${v.description}"></td>
                    <td th:text="${v.details}"></td>
                    <td>
                    	<div class="btn-group">
                    		<!--
									here in the below code the id="editButton".When the user selects this button
									The system will go to "employeetype.js" file and execute the script code to call
									"editModal". Refer "employeetype.js" and  the modal view "editModal" present below
							-->
                    		<a th:href="@{/employeetype/findById/(id=${v.id})}" class="btn btn-primary" id="editButton"> <i class="icon_pencil-edit"></i> </a>
                    		
                    		<!--
									here in the below code the id="viewButton".When the user selects this button
									The system will go to "employeetype.js" file and execute the script code to call
									"viewModal". Refer "employeetype.js" and  the modal view "viewModal" present below
							-->
	                    	<a th:href="@{/employeetype/findById/(id=${v.id})}" class="btn btn-success" id="viewButton"><i class="icon_document_alt"></i></a>
	                    	
	                    	<!--
									here in the below code the id="deleteButton".When the user selects this button
									The system will go to "employeetype.js" file and execute the script code to call
									"deleteModal". Refer "employeetype.js" and  the modal view "deleteModal" present below
							-->
							<a th:href="@{/employeetype/deleteById/(id=${v.id})}" class="btn btn-danger" id="deleteButton"><i class="icon_close_alt2"></i></a>
						
						</div>
                    </td>
                  </tr>
                </tbody>
       </table>  
       
        </div>
        </div>      
        <!-- page end-->
      </section>
    </section>
    <!--main content end-->
    <div class="text-right">
      <div class="credits">
          <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
          -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
  </section>
  <!-- container section end -->
  
  <!-- ---------------------------------------------  ADD employeetype MODAL VIEW START --------------------------------------------- -->
 
 	<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
 	 <div class="modal-dialog" role="document">
    	<div class="modal-content">
      	<div class="modal-header">
       		 <h5 class="modal-title" id="exampleModalLabel"><b>Add Employee Details</b></h5>
      </div>
      	<div class="modal-body">
        
      	  	<form th:action="@{/employeetype/addNew}" method="post">
          
		          
		          <div class="form-group">
		            <label for="recipient-name" class="col-form-label">Employee Type Description:</label>
		            <input type="text" class="form-control" id="recipient-name" name="description"  required>
		          </div>
		          
		          <div class="form-group">
		            <label for="recipient-name" class="col-form-label">Details:</label>
		            <input type="text" class="form-control" id="recipient-name" name="details"  required>
		          </div>
		          
		          <div class="form-group">
		           	<button type="submit" class="btn btn-primary">Submit</button>
		           	<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
		          </div>
        	</form>
        </div>
      </div>
    </div>
  </div>
  
  <!-- --------------------------------------------- ADD employeetype MODAL VIEW END --------------------------------------------- -->
  
  
   <!-- --------------------------------------------- EDIT employeetype MODAL VIEW START ---------------------------------------------  -->
 
 	<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
 	 <div class="modal-dialog" role="document">
    	<div class="modal-content">
      	<div class="modal-header">
       		 <h5 class="modal-title" id="exampleModalLabel"><b>Edit Employee Details</b></h5>
      </div>
      	<div class="modal-body">
        
      	  	<form th:action="@{/employeetype/update}" method="put">
          
		          <div class="form-group">
		            <label for="recipient-name" class="col-form-label">Id:</label>
		            <input type="text" class="form-control" id="idEdit" name="id" readonly>
		          </div>
		          
		          <div class="form-group">
		            <label for="recipient-name" class="col-form-label">Employee Type Description:</label>
		            <input type="text" class="form-control" id="descriptionEdit" name="description"  required>
		          </div>
		          
		          <div class="form-group">
		            <label for="recipient-name" class="col-form-label">Details:</label>
		            <input type="text" class="form-control" id="detailsEdit" name="details"  required>
		          </div>
		          
		          <div class="form-group">
		           	<button type="submit" class="btn btn-primary">Update</button>
		           	<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
		          </div>
        	</form>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- --------------------------------------------- EDIT employeetype MODAL VIEW END --------------------------------------------- -->

   <!-- --------------------------------------------- VIEW employeetype MODAL VIEW START ---------------------------------------------  -->
 
 <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
 	 <div class="modal-dialog" role="document">
    	<div class="modal-content">
      	<div class="modal-header">
       		 <h5 class="modal-title" id="exampleModalLabel"><b>Vehicle make Details</b></h5>
      </div>
      	<div class="modal-body">
        
		          <div class="form-group">
		            <label for="recipient-name" class="col-form-label">Id:</label>
		            <input type="text" class="form-control" id="idView" name="id"  readonly>
		          </div>
		          
		          <div class="form-group">
		            <label for="recipient-name" class="col-form-label">Employee Type Description:</label>
		            <input type="text" class="form-control" id="descriptionView" name="description"  readonly>
		          </div>
		          
		          <div class="form-group">
		            <label for="recipient-name" class="col-form-label">Details:</label>
		            <input type="text" class="form-control" id="detailsView" name="details"  readonly>
		          </div>
		          
		            <div class="form-group">
		            <label class="col-form-label">Created By:</label>
		            <input type="text" class="form-control" id="createdbyView" name="createdby" readonly>
		          </div>        
		          
		          <div class="form-group">
		            <label class="col-form-label">Created Date:</label>
		            <input type="text" class="form-control" id="createddateView" name="createddate" readonly>
		          </div>  
		                    
		          <div class="form-group">
		            <label class="col-form-label">Last Updated By:</label>
		            <input type="text" class="form-control" id="lastmodifiedbyView" name="lastmodifiedby" readonly>
		          </div>        
		          
		          <div class="form-group">
		            <label class="col-form-label">Last Updated On:</label>
		            <input type="text" class="form-control" id="lastmodifieddateView" name="lastmodifieddate" readonly>
		          </div>  
		          
		          
		          <div class="form-group">
		           	<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
		          </div>
        	
        </div>
      </div>
    </div>
  </div>
  	
  
  <!-- --------------------------------------------- VIEW employeetype MODAL VIEW END --------------------------------------------- -->
  
   <!-- --------------------------------------------- DELETE employeetype MODAL VIEW START --------------------------------------------- -->
  
<div class="modal"  id="deleteModal" tabindex="-1" role="dialog">
	  	<div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Confirm Delete</h5>
	      </div>
	      <div class="modal-body">
	        <p>Are you sure you want to delete this record???</p>
	      </div>
	      <div class="modal-footer">
	      <!--
				1. Here below code we had to change from button to 
	      	   anchor tag becuase we are send the request to controller 
	      	   to delete the record
	      	   
	      	   2. When the user clicks on "Yes, Delete" button the 
	      	   id="confirmDeleteButton" will go to "employeetype.js"
	      	   Here note that here we have set href="" as empty.
	      	   So when it goes to "employeetype.js" , if the user
	      	   clicks on the button having id="confirmDeleteButton"
	      	   it will use the href="" and delete the record
	      -->
	        <a class="btn btn-primary" id="confirmDeleteButton" href="">Yes, Delete</a> 
	        <button type="button" class="btn btn-primary" data-dismiss="modal">No, Cancel</button>
	      </div>
	  </div>
    </div>
</div>
   <!-- --------------------------------------------- DELETE employeetype MODAL VIEW END --------------------------------------------- -->
  
  
  <!-- javascripts -->
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!-- nice scroll -->
  <script src="js/jquery.scrollTo.min.js"></script>
  <script src="js/jquery.nicescroll.js" type="text/javascript"></script>
  <!--custome script for all page-->
  <script src="js/scripts.js"></script>
  <script src="js/employeetype.js"></script>

</body>

</html>
